name: Deploy Autentica Python API

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: app
        path: .

    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: app

    - name: Deploy to Azure WebApp
      uses: azure/webapps-deploy@v3
      with:
        app-name: 'autentica'
        publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE }}
        package: .
